types-setuptools==80.10.0.20260124
requirements-parser==0.9.0
astor==0.8.1
pybase64==1.4.3
datasets==4.3.0
nvidia-nvtx-cu12==12.6.77
fastar==0.8.0
nvidia-cufft-cu12==11.3.0.4
mistral_common==1.9.1
pydantic-extra-types==2.11.0
matplotlib==3.10.8
rignore==0.7.6
nvidia-cufile-cu12==1.11.1.6
torch==2.7.1
loguru==0.7.3
lm-format-enforcer==0.10.12
sl==0.1.0
compressed-tensors==0.10.2
bitsandbytes==0.49.2
ray==2.53.0
numba==0.61.2
transformers==4.57.6
rich-toolkit==0.19.4
partial-json-parser==0.2.1.1.post7
trl==0.19.1
nvidia-cuda-runtime-cu12==12.6.77
triton==3.3.1
nvidia-cusparselt-cu12==0.6.3
setuptools==79.0.1
nvidia-cusparse-cu12==12.5.4.2
msgspec==0.20.0
prometheus-fastapi-instrumentator==7.1.0
neovim==0.3.1
ninja==1.13.0
nvidia-cusolver-cu12==11.7.1.2
outlines_core==0.2.10
gguf==0.17.1
hf_transfer==0.1.9
pycountry==26.2.16
xgrammar==0.1.21
dotenv==0.9.9
fastapi-cli==0.0.23
llguidance==0.7.30
torchaudio==2.7.1
email-validator==2.3.0
nvidia-curand-cu12==10.3.7.77
fastapi-cloud-cli==0.13.0
openai==1.90.0
unsloth_zoo==2026.2.1
torchao==0.16.0
nvidia-nccl-cu12==2.26.2
huggingface_hub==0.36.2
unsloth==2026.2.1
nvidia-cuda-cupti-cu12==12.6.80
pip==26.0.1
cbor2==5.8.0
tyro==1.0.6
dnspython==2.8.0
nvidia-cudnn-cu12==9.5.1.17
depyf==0.19.0
xformers==0.0.31
vllm==0.10.0
blake3==1.0.8
pyarrow==23.0.1
nvidia-cuda-nvrtc-cu12==12.6.77
llvmlite==0.44.0
nvidia-cublas-cu12==12.6.4.1
pynvim==0.6.0
lark==1.2.2
cut-cross-entropy==25.1.1
interegular==0.3.3
diskcache==5.6.3
tokenizers==0.22.2
torchvision==0.22.1
nvidia-nvjitlink-cu12==12.6.85
pandas==3.0.1
google-colab==1.0.0
patsy==1.0.2
aiofiles==24.1.0
tensorflow-text==2.19.0
tensorflow-hub==0.16.1
google-cloud-dataproc==5.24.0
jsonpickle==4.1.1
numba-cuda==0.19.2
treelite==4.4.1
ucxx-cu12==0.46.0
opencv-contrib-python==4.13.0.92
jupyter_server_terminals==0.5.4
astropy-iers-data==0.2026.2.9.0.50.33
geemap==0.35.3
pyshp==3.0.3
rpy2==3.5.17
pickleshare==0.7.5
numexpr==2.14.1
html5lib==1.1
music21==9.9.1
notebook==6.5.7
ipython==7.34.0
numpy==2.0.2
python-utils==3.9.1
nest-asyncio==1.6.0
pytz==2025.2
sphinxcontrib-qthelp==2.0.0
cuda-toolkit==12.9.1
google==3.0.0
PySocks==1.7.1
tiktoken==0.12.0
python-json-logger==4.0.0
backcall==0.2.0
wordcloud==1.9.6
google-api-python-client==2.190.0
ibis-framework==9.5.0
astunparse==1.6.3
tomlkit==0.13.3
jupytext==1.19.1
opentelemetry-exporter-otlp-proto-common==1.38.0
pydotplus==2.0.2
tinycss2==1.4.0
SecretStorage==3.5.0
toml==0.10.2
oauthlib==3.3.1
markdown-it-py==4.0.0
highspy==1.13.1
ormsgpack==1.12.2
matplotlib-venn==1.1.2
certifi==2026.1.4
pydub==0.25.1
joblib==1.5.3
keyrings.google-artifactregistry-auth==1.1.2
wandb==0.24.2
dask==2025.9.1
grpc-google-iam-v1==0.14.3
mkl==2025.3.1
tsfresh==0.21.1
chardet==5.2.0
shellingham==1.5.4
stanio==0.5.1
tzlocal==5.3.1
google-pasta==0.2.0
psutil==5.9.5
editdistance==0.8.1
pyspark==4.0.2
multidict==6.7.1
cupy-cuda12x==13.6.0
Werkzeug==3.1.5
ipykernel==6.17.1
networkx==3.6.1
google-cloud-datastore==2.23.0
typer==0.23.0
natsort==8.4.0
tensorflow_decision_forests==1.12.0
db-dtypes==1.5.0
fastapi==0.129.0
python-slugify==8.0.4
plotnine==0.14.5
tensorflow-metadata==1.17.3
mlxtend==0.23.4
segregation==2.5.3
tblib==3.2.2
namex==0.1.0
google-cloud-trace==1.18.0
pyasn1==0.6.2
antlr4-python3-runtime==4.9.3
keyring==25.7.0
soupsieve==2.8.3
lxml==6.0.2
cramjam==2.11.0
mgwr==2.2.1
fastcore==1.12.13
click-plugins==1.1.1.2
immutabledict==4.3.0
tensorflow-probability==0.25.0
imbalanced-learn==0.14.1
nvidia-cuda-nvcc-cu12==12.5.82
gym==0.25.2
jiter==0.13.0
click==8.3.1
simsimd==6.5.12
hpack==4.1.0
pointpats==2.5.2
snowballstemmer==3.0.1
frozendict==2.4.7
textblob==0.19.0
rsa==4.9.1
pyerfa==2.0.1.5
ffmpy==1.0.0
fastjsonschema==2.21.2
flatbuffers==25.12.19
colour==0.1.5
optax==0.2.7
hyperopt==0.2.7
fqdn==1.5.1
google-cloud-audit-log==0.4.0
langsmith==0.7.1
pyviz_comms==3.0.6
widgetsnbextension==3.6.10
fastrlock==0.8.3
rasterstats==0.20.0
google-cloud-core==2.5.0
entrypoints==0.4
giddy==2.3.8
langgraph==1.0.8
smart_open==7.5.0
h11==0.16.0
clarabel==0.11.1
psycopg2==2.9.11
splot==1.1.7
jax-cuda12-pjrt==0.7.2
multipledispatch==1.0.0
parsy==2.2
polars==1.31.0
pylibcudf-cu12==25.10.0
jsonschema==4.26.0
gitdb==4.0.12
wasabi==1.1.3
dask-cudf-cu12==25.10.0
requests-toolbelt==1.0.0
ratelim==0.1.6
tqdm==4.67.3
google-cloud-logging==3.13.0
pyasn1_modules==0.4.2
google-auth-oauthlib==1.2.4
cvxopt==1.3.2
propcache==0.4.1
opentelemetry-exporter-gcp-monitoring==1.11.0a0
catalogue==2.0.10
missingno==0.5.2
libcugraph-cu12==25.10.1
aiosqlite==0.22.1
soundfile==0.13.1
psygnal==0.15.1
python-fasthtml==0.12.41
opentelemetry-exporter-otlp-proto-http==1.38.0
google-cloud-storage==3.9.0
attrs==25.4.0
xarray==2025.12.0
ipyevents==2.0.4
pandas-gbq==0.30.0
dataproc-spark-connect==1.0.2
multiprocess==0.70.16
sniffio==1.3.1
isoduration==20.11.0
geopandas==1.1.2
mistune==3.2.0
httpcore==1.0.9
gspread==6.2.1
holoviews==1.22.1
portpicker==1.5.2
libclang==18.1.1
pyproj==3.7.2
atpublic==5.1
linkify-it-py==2.0.3
uvloop==0.22.1
nibabel==5.3.3
fiona==1.10.1
colorcet==3.1.0
aiohttp==3.13.3
idna==3.11
rapids-logger==0.1.19
access==1.1.10.post3
babel==2.18.0
cryptography==43.0.3
duckdb==1.3.2
annotated-types==0.7.0
fastlite==0.2.4
omegaconf==2.3.0
typer-slim==0.23.0
jaraco.context==6.1.0
spacy-loggers==1.0.5
parso==0.8.6
httpx-sse==0.4.3
protobuf==5.29.6
cuda-python==12.9.5
Jinja2==3.1.6
sphinxcontrib-jsmath==1.0.1
umf==1.0.3
momepy==0.11.0
python-box==7.3.2
cons==0.4.7
earthengine-api==1.5.24
blosc2==4.0.0
tenacity==9.1.4
xyzservices==2025.11.0
rmm-cu12==25.10.0
python-dotenv==1.2.1
safetensors==0.7.0
cuda-pathfinder==1.3.4
spanner-graph-notebook==1.1.8
opentelemetry-semantic-conventions==0.59b0
docstring_parser==0.17.0
toolz==0.12.1
graphviz==0.21
sqlglot==25.20.2
xarray-einstats==0.9.1
debugpy==1.8.15
folium==0.20.0
nvtx==0.2.14
cycler==0.12.1
simplejson==3.20.2
PyJWT==2.11.0
nltk==3.9.1
rapids-dask-dependency==25.10.0
langchain-core==1.2.12
multitasking==0.0.12
gradio_client==1.14.0
pydata-google-auth==1.9.1
Bottleneck==1.4.2
libraft-cu12==25.10.0
blinker==1.9.0
einops==0.8.2
scs==3.2.11
grpc-interceptor==0.15.4
google-adk==1.25.0
autograd==1.8.0
libkvikio-cu12==25.10.0
simple-parsing==0.1.8
spacy==3.8.11
pycairo==1.29.0
groovy==0.1.2
ipyfilechooser==0.6.0
keras-hub==0.21.1
astropy==7.2.0
alabaster==1.0.0
apswutils==0.1.2
watchdog==6.0.0
etils==1.13.0
geocoder==1.38.1
google-cloud-speech==2.36.1
opentelemetry-proto==1.38.0
tifffile==2026.1.28
diffusers==0.36.0
sklearn-compat==0.1.5
stringzilla==4.6.0
dopamine_rl==4.1.2
pycparser==3.0
notebook_shim==0.2.4
spacy-legacy==3.0.12
gym-notices==0.1.0
google-auth==2.47.0
xxhash==3.6.0
narwhals==2.16.0
curl_cffi==0.14.0
ndindex==1.10.1
jieba==0.42.1
opentelemetry-exporter-gcp-trace==1.11.0
safehttpx==0.1.7
orbax-checkpoint==0.11.32
arviz==0.22.0
brotli==1.2.0
keras-nlp==0.21.1
pluggy==1.6.0
firebase-admin==6.9.0
rfc3987-syntax==1.1.0
matplotlib-inline==0.2.1
terminado==0.18.1
kagglehub==0.3.13
smmap==5.0.2
grpcio==1.78.0
etuples==0.3.10
grpcio-status==1.71.2
requests-oauthlib==2.0.0
pycryptodomex==3.23.0
google-cloud-translate==3.24.0
nvidia-ml-py==13.590.48
apsw==3.51.2.0
Cython==3.0.12
shap==0.50.0
httplib2==0.31.2
PyOpenGL==3.1.10
weasel==0.4.3
google-genai==1.63.0
charset-normalizer==3.4.4
cachetools==7.0.1
librosa==0.11.0
cuml-cu12==25.10.0
orjson==3.11.7
panel==1.8.7
langgraph-sdk==0.3.5
alembic==1.18.4
Authlib==1.6.7
hf-xet==1.2.0
librmm-cu12==25.10.0
itsdangerous==2.2.0
seaborn==0.13.2
tensorstore==0.1.81
PyDrive2==1.21.3
future==1.0.0
regex==2025.11.3
tf_keras==2.19.0
opentelemetry-resourcedetector-gcp==1.11.0a0
lightgbm==4.6.0
webencodings==0.5.1
pydantic==2.12.3
ipytree==0.2.2
Markdown==3.10.2
proglog==0.1.12
python-snappy==0.7.3
torchdata==0.11.0
libucx-cu12==1.19.0
jsonpointer==3.0.0
annotated-doc==0.0.4
prettytable==3.17.0
opencv-python-headless==4.13.0.92
sphinxcontrib-htmlhelp==2.1.0
torchcodec==0.8.0+cu128
en_core_web_sm==3.8.0
raft-dask-cu12==25.10.0
cloudpathlib==0.23.0
google-cloud-bigquery-storage==2.36.1
typing-inspection==0.4.2
google-resumable-media==2.8.0
branca==0.8.2
tbb==2022.3.1
lazy_loader==0.4
fsspec==2025.3.0
pandas-stubs==2.2.2.240909
Send2Trash==2.1.0
bqplot==0.12.45
pysal==25.7
mapclassify==2.10.0
prometheus_client==0.24.1
pynndescent==0.6.0
types-pytz==2025.2.0.20251108
humanize==4.15.0
timm==1.0.24
jeepney==0.9.0
tf-slim==1.1.0
google-cloud-secret-manager==2.26.0
jupyter-leaflet==0.20.0
sympy==1.14.0
sentencepiece==0.2.1
pillow==11.3.0
ale-py==0.11.2
pylibraft-cu12==25.10.0
py4j==0.10.9.9
wcwidth==0.6.0
h5py==3.15.1
distributed==2025.9.1
filelock==3.21.0
spint==1.0.7
wrapt==2.1.1
gymnasium==1.2.3
httpimport==1.4.1
google-cloud-iam==2.21.0
pandocfilters==1.5.1
inflect==7.5.0
sentence-transformers==5.2.2
mdurl==0.1.2
spglm==1.1.0
ipython-sql==0.5.0
google-api-core==2.29.0
kaggle==1.7.4.5
cufflinks==0.17.3
nx-cugraph-cu12==25.10.0
jaraco.functools==4.4.0
vega-datasets==0.9.0
pygame==2.6.1
pandas-datareader==0.10.0
progressbar2==4.5.0
pydot==4.0.1
aiohappyeyeballs==2.6.1
uri-template==1.3.0
ptyprocess==0.7.0
msgpack==1.1.2
pyOpenSSL==24.2.1
easydict==1.13
distributed-ucxx-cu12==0.46.0
jax-cuda12-plugin==0.7.2
ipywidgets==7.7.1
opentelemetry-exporter-gcp-logging==1.11.0a0
opencv-python==4.13.0.92
dm-tree==0.1.9
greenlet==3.3.1
fasttransform==0.0.2
pylibcugraph-cu12==25.10.1
iniconfig==2.3.0
jsonpatch==1.33
libucxx-cu12==0.46.0
aiosignal==1.4.0
jupyter_server==2.14.0
scikit-image==0.25.2
arrow==1.4.0
rich==13.9.4
dill==0.3.8
referencing==0.37.0
hyperframe==6.1.0
contourpy==1.3.3
ydf==0.15.0
logical-unification==0.4.7
CacheControl==0.14.4
openpyxl==3.1.5
google-cloud-bigquery==3.40.1
rfc3339-validator==0.1.4
opt_einsum==3.4.0
SQLAlchemy==2.0.46
PyYAML==6.0.3
google-crc32c==1.8.0
uuid_utils==0.14.0
plum-dispatch==2.6.1
locket==1.0.0
sphinxcontrib-devhelp==2.0.0
bleach==6.3.0
yarl==1.22.0
webcolors==25.10.0
httpx==0.28.1
jupyter_client==7.4.9
gradio==5.50.0
zipp==3.23.0
miniKanren==1.0.5
pooch==1.9.0
intel-openmp==2025.3.2
gdown==5.2.1
langgraph-checkpoint==4.0.0
zict==3.0.0
prophet==1.3.0
google-cloud-spanner==3.62.0
kiwisolver==1.4.9
importlib_metadata==8.7.1
googledrivedownloader==1.1.0
termcolor==3.3.0
cmdstanpy==1.3.0
torchtune==0.6.1
keras==3.10.0
ml_dtypes==0.5.4
plotly==5.24.1
docutils==0.21.2
google-cloud-appengine-logging==1.8.0
google-cloud-aiplatform==1.137.0
anywidget==0.9.21
Farama-Notifications==0.0.4
tensorflow-datasets==4.9.9
uc-micro-py==1.0.3
defusedxml==0.7.1
tzdata==2025.3
more-itertools==10.8.0
tensorboard==2.19.0
imutils==0.5.4
cffi==2.0.0
importlib_resources==6.5.2
google-cloud-monitoring==2.29.1
sse-starlette==3.2.0
tweepy==4.16.0
platformdirs==4.6.0
google-ai-generativelanguage==0.6.15
pycocotools==2.0.11
ruff==0.15.0
nbclient==0.10.4
statsmodels==0.14.6
slicer==0.0.8
websockets==15.0.1
pygit2==1.19.1
python-louvain==0.16
dask-cuda==25.10.0
jax==0.7.2
mizani==0.13.5
stumpy==1.13.0
text-unidecode==1.3
yellowbrick==1.5
jupyter_kernel_gateway==2.5.2
xlrd==2.0.2
proto-plus==1.27.1
preshed==3.0.12
sphinxcontrib-serializinghtml==2.0.0
oauth2client==4.1.3
decorator==4.4.2
soxr==1.0.0
mmh3==5.2.0
imageio-ffmpeg==0.6.0
GDAL==3.8.4
gspread-dataframe==4.0.0
pydantic-settings==2.12.0
traittypes==0.2.3
albumentations==2.0.8
yfinance==0.2.66
py-cpuinfo==9.0.0
watchfiles==1.1.1
tobler==0.13.0
pytensor==2.37.0
jupyter-console==6.6.3
promise==2.3
bokeh==3.7.3
pydantic_core==2.41.4
rasterio==1.5.0
imagesize==1.4.1
mcp==1.26.0
betterproto==2.0.0b6
flax==0.11.2
fastai==2.8.6
gin-config==0.5.0
argon2-cffi-bindings==25.1.0
bigframes==2.33.0
googleapis-common-protos==1.72.0
peft==0.18.1
spaghetti==1.7.6
inequality==1.1.2
tensorboard-data-server==0.7.2
ipython-genutils==0.2.0
pytest==8.4.2
PuLP==3.3.0
cmake==3.31.10
uritemplate==4.2.0
treescope==0.1.10
ImageIO==2.37.2
eerepr==0.1.2
zstandard==0.25.0
google-cloud-pubsub==2.35.0
anyio==4.12.1
google-cloud-language==2.19.0
sqlparse==0.5.5
google-cloud-bigtable==2.35.0
grpclib==0.4.9
altair==5.5.0
roman-numerals==4.1.0
typing_extensions==4.15.0
prompt_toolkit==3.0.52
google-auth-httplib2==0.3.0
srsly==2.5.2
intel-cmplr-lib-ur==2025.3.2
six==1.17.0
pymc==5.27.1
nvidia-cuda-cccl-cu12==12.9.27
jupyter-events==0.12.0
rtree==1.4.1
pyogrio==0.12.1
cymem==2.0.13
fastdownload==0.0.7
audioread==3.1.0
sortedcontainers==2.4.0
esda==2.8.1
pexpect==4.9.0
rfc3986-validator==0.1.1
wurlitzer==3.1.1
sentry-sdk==2.52.0
uvicorn==0.40.0
fonttools==4.61.1
PyWavelets==1.9.0
param==2.3.2
langchain==1.2.10
nbformat==5.10.4
geopy==2.4.1
blobfile==3.2.0
google-cloud-discoveryengine==0.13.12
jaraco.classes==3.4.0
beartype==0.22.9
tables==3.10.2
mdit-py-plugins==0.5.0
wheel==0.46.3
osqp==1.1.1
holidays==0.90
opentelemetry-api==1.38.0
et_xmlfile==2.0.0
torchsummary==1.5.1
cuda-bindings==12.9.5
semantic-version==2.10.0
overrides==7.7.0
spopt==0.7.0
h5netcdf==1.8.1
google-generativeai==0.8.6
threadpoolctl==3.6.0
umap-learn==0.5.11
libpysal==4.14.1
starlette==0.52.1
jaxlib==0.7.2
dlib==19.24.6
jupyterlab_widgets==3.0.16
httptools==0.7.1
peewee==3.19.0
urllib3==2.5.0
pyzmq==26.2.1
colorlover==0.3.0
ipyparallel==8.8.0
roman-numerals-py==4.1.0
Sphinx==8.2.3
python-dateutil==2.9.0.post0
google-cloud-bigquery-connection==1.20.0
jsonschema-specifications==2025.9.1
typeguard==4.4.4
tensorflow==2.19.0
cudf-polars-cu12==25.10.0
cyipopt==1.5.0
xgboost==3.2.0
fastprogress==1.1.3
partd==1.4.2
gast==0.7.0
ipyleaflet==0.20.0
scooby==0.11.0
nvidia-nvshmem-cu12==3.3.20
langgraph-prebuilt==1.0.7
shapely==2.1.2
mpmath==1.3.0
nbconvert==7.17.0
pyperclip==1.11.0
glob2==0.7
python-multipart==0.0.22
optree==0.18.0
nbclassic==1.3.3
traitlets==5.7.1
geographiclib==2.1
beautifulsoup4==4.13.5
moviepy==1.0.3
hdbscan==0.8.41
Flask==3.1.2
jupyter_core==5.9.1
GitPython==3.1.46
argon2-cffi==25.1.0
MarkupSafe==3.0.3
spreg==1.8.5
quantecon==0.10.1
cloudpickle==3.1.2
Pygments==2.19.2
google-cloud-resource-manager==1.16.0
pyomo==6.9.5
affine==2.4.0
ply==3.11
scipy==1.16.3
accelerate==1.12.0
cudf-cu12==25.10.0
gcsfs==2025.3.0
blis==1.3.3
frozenlist==1.8.0
scikit-learn==1.6.1
community==1.0.0b1
google-cloud-firestore==2.23.0
deprecation==2.1.0
rpds-py==0.30.0
Mako==1.3.10
absl-py==1.4.0
array_record==0.8.3
opentelemetry-sdk==1.38.0
packaging==26.0
onemkl-license==2025.3.1
tabulate==0.9.0
cvxpy==1.6.7
libcuml-cu12==25.10.0
google-cloud-functions==1.22.0
h2==4.3.0
murmurhash==1.0.15
PyGObject==3.48.2
thinc==8.3.10
grain==0.2.15
sklearn-pandas==2.2.0
jupyterlab_pygments==0.3.0
websocket-client==1.9.0
sphinxcontrib-applehelp==2.0.0
albucore==0.0.24
tcmlib==1.4.1
tornado==6.5.1
pyparsing==3.3.2
confection==0.1.5
cuda-core==0.3.2
requests==2.32.4
sqlalchemy-spanner==1.17.2
cligj==0.7.2
distro==1.9.0
bigquery-magics==0.12.0
libcudf-cu12==25.10.0
python-apt==0.0.0
httplib2==0.20.2
cryptography==3.4.8
distro==1.7.0
PyJWT==2.3.0
blinker==1.4
six==1.16.0
jeepney==0.7.1
pyparsing==2.4.7
python-apt==2.4.0+ubuntu4.1
more-itertools==8.10.0
oauthlib==3.2.0
SecretStorage==3.3.1
importlib-metadata==4.6.4
launchpadlib==1.10.16
lazr.uri==1.0.6
zipp==1.0.0
keyring==23.5.0
dbus-python==1.2.18
PyGObject==3.42.1
lazr.restfulclient==0.14.4
wadllib==1.3.6
Markdown==3.3.6
MarkupSafe==2.0.1
Mako==1.1.3
